:root {
	--base-color: #ffe0a1;
	--mid-color: #bfbfbf;
	--dark-color: #3d414c;
	--point-color: #96080f;
}

body {
background-color: var(--base-color);
line-height:1.6em;
margin:0;
}

header {
	background-color: var(--base-color);
}

.container {
	width:90%;
	margin:auto;
	overflow:hidden;
}

/* logo in top left corner*/
.leftContain {
	float:left;
	display:inline;
}

/* log in/out button style*/
.rightContain {
	float:right;
	display:inline;
}
#logButton {
	background-color: var(--dark-color);
	color: #fff;
	padding:10px 15px;
	border:none;
	text-decoration:none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#logButton:hover {
	background-color: var(--mid-color);
	color: #000;
}

/* search bar */
.searchbar {
	margin: auto;
	width: 60%;
	padding: 50px 5px;

}
#searchTitle {
	color: var(--point-color);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}
input {
	background: #fff;
	width: 80%;
	height: 35px;
	outline: none;
	border: none;
	padding: 0 20px;
	outline: none;
	border-radius: 25px 0 0 25px;
}
button {
	position: relative;
	left: -10px;
	border-radius: 0 25px 25px 0;
	width: 50px;
	height: 35px;
	outline: none;
	border: none;
	background-color: #fff;
	color: var(--dark-color);
}
button:hover {
	background-color: var(--point-color);
	color: #fff;
}

ul {
	margin: auto;
	float:left;
	width: 100px;
	background-color: var(--point-color);
	list-style-type: none;
	border-radius: 0 50px 50px 0;
	padding: 10px;
}
ul a {
	color: #fff;
	text-decoration: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
ul a:hover {
	color: #000;
}
