:root {
	--base-color: #ffe0a1;
	--mid-color: #bfbfbf;
	--dark-color: #3d414c;
	--point-color: #96080f;
}

body {
background-color: var(--base-color);
line-height:1.6em;
margin:0;
}

#container {
  width:90%;
  margin:auto;
  overflow:hidden;
}

#info-container {
  padding: 10px;

  border-color: var(--point-color);
}
